.car-selection {
   padding: 40px 0 50px;
   background-color: var(--menu-black);
}

.car-selection-form {
   row-gap: 50px;

   h2 {
      grid-column: 6 span;
      color: var(--color-white);
   }
}

.car-selection-form__car-type {
   column-gap: 30px;
   grid-column: 6 span;
}

.car-selection-form-car-type {
   position: relative;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   column-gap: 30px;
   grid-column: 6 span;

   label {
      position: relative;
      grid-column: 2 span;
      cursor: pointer;

      input {
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
         width: 100%;
         height: 100%;
         opacity: 0;
      }

      input + span {
         display: flex;
         align-items: center;
         justify-content: center;
         border: 1px solid var(--color-white);
         border-radius: 4px;
         padding: 10.5px 0;
         font-weight: 500;
         font-size: 16px;
         text-align: center;
         color: var(--color-white);
         background-color: transparent;
         transition:
            color 0.15s ease,
            background-color 0.15s ease-out,
            border-color 0.1s ease,
            outline 0.05s linear;
         pointer-events: none;
      }

      input:focus + span {
         outline: none;
      }

      input:focus-visible + span {
         outline: 4px solid var(--focus-main-color);
         outline-offset: 1px;
      }

      input:hover + span {
         border-color: #676767;
         color: var(--color-white);
         background-color: #676767;
      }

      input:checked + span {
         color: var(--color-red);
         background-color: var(--color-white);
      }
   }

   @media (max-width: 1258px) {
      column-gap: 20px;
   }
}

.car-selection__select {
   position: relative;
   display: flex;
   align-items: center;
   grid-column: 3 span;
   width: 100%;
   border-radius: 4px;
   padding: 20px 0 25px;
   font-weight: 500;
   font-size: 16px;
   color: var(--light-grey);
   background: var(--color-white);
   cursor: pointer;
}

.car-selection-select__dropdown {
   display: flex;
   align-items: center;
   justify-content: center;
}

.car-selection-select__dropdown-icon {
   content: "";
   position: absolute;
   top: 50%;
   right: 25px;
   display: block;
   width: 14px;
   height: 14px;
   color: var(--light-grey);
   transform: translateY(-50%);
   pointer-events: none;

   svg {
      width: 100%;
      height: 100%;
      color: inherit;
      fill: currentcolor;
      object-fit: cover;
   }
}

.car-selection-select__options-list {
   position: absolute;
   top: 62%;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: top;
   grid-column: 3 span;
   width: 100%;
   margin: 0;
   padding: 0;
   background-color: var(--color-white);

   span {
      display: block;
      padding: 10px 0 11px 28px;
      font-size: inherit;
      color: var(--header-black);
      background-color: var(--color-white);
      cursor: pointer;

      &:hover {
         background-color: var(--color-red);
      }
   }
}

.car-selection-form__price {
   display: flex;
   grid-column: 3 span;
}

.car-selection-form__submit {
   display: flex;
   align-items: center;
   justify-content: center;
   grid-column: 3 span;
   border: none;
   border-radius: 4px;
   padding: 20px 0;
   color: inherit;
   background: var(--color-red);
}
