.car-brands {
   padding: 100px 0;
   background-color: var(--color-white);

   h2 {
      grid-column: 8 span;
      color: var(--header-black);

      @media (max-width: 834px) {
         grid-column: 6 span;
      }
   }
}

.show-more-wrapper {
   grid-column: 12 span;
   margin-top: 39px;

   ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, 130px);
      column-gap: 8.8px;
      row-gap: 7px;
      justify-content: center;
      grid-column: 12 span;
      font-weight: 500;
      font-style: normal;
      font-size: 13px;

      li {
         a {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 1px solid var(--light-grey);
            border-radius: 4px;
            padding: 10px 14px;
            text-align: center;
            background-color: var(--color-white);
            transition: transform 0.15s ease-in-out;

            &:hover {
               transform: scale(1.06);
            }
         }

         div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 101px;
            height: 65px;

            img {
               display: block;
               max-width: 100%;
               max-height: 100%;
               margin: 0 auto;
            }
         }
      }

      @media (max-width: 1258px) {
         grid-template-columns: repeat(auto-fill, 140px);
         column-gap: 20px;
         row-gap: 20px;
      }

      @media (max-width: 834px) {
         grid-column: 6 span;
         margin-top: 20px;
      }
   }

   .show-more-btn {
      display: block;
      grid-column: 12 span;
      margin: 50px auto 0;
      border: none;
      border-radius: 4px;
      padding: 20px 106px;
      font-weight: 500;
      font-size: 16px;
      color: var(--color-white);
      background-color: var(--color-red);
      cursor: pointer;

      @media (max-width: 1258px) {
         padding: 20px 96px;
      }

      @media (max-width: 834px) {
         grid-column: 6 span;
         padding: 20px 76px;
      }
   }
}

.car-brands__show-all-link {
   justify-self: right;
   grid-column: 4 span;
   margin-top: 14px;
   font-weight: 400;
   font-size: 16px;
   color: var(--menu-dark-grey);
   transition: font-weight 0.1s ease-in-out, color 0.11s;

   &:hover {
      font-weight: 600;
      color: var(--color-red);
   }

   @media (max-width: 834px) {
      justify-self: left;
      grid-column: 6 span;
      margin-top: 20px;
      font-size: 14px;
   }
}
