.car-selection {
   padding: 40px 0 50px;
   color: var(--color-white);
   background-color: var(--menu-black);
}

h2 {
   grid-column: 6 span;
   font-weight: 600;
   font-size: 32px;
}

.car-selection-form {
   // column-gap: 16px;
   row-gap: 50px;
}

.car-selection-form__car-type {
   column-gap: 30px;
   grid-column: 6 span;
}

.car-selection-form-car-type {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   column-gap: 30px;
}

/* .radio-btn-basic {
   position: absolute;
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
   appearance: none;
} */
.radio-btn-basic {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   width: 0;
   height: 0;
   opacity: 0;
}

.car-selection-form__radio-btn {
   grid-column: 2 span;

   span {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-white);
      border-radius: 4px;
      padding: 10.5px 0;
      background-color: transparent;
   }
}

.car-selection__select {
   position: relative;
   display: flex;
   align-items: center;
   grid-column: 3 span;
   width: 100%;
   border-radius: 4px;
   padding: 20px 0 25px;
   font-weight: 500;
   font-size: 16px;
   color: var(--light-grey);
   background: var(--color-white);
   cursor: pointer;
}

.car-selection-select__dropdown {
   display: flex;
   align-items: center;
   justify-content: center;
}

.car-selection-select__dropdown-icon {
   content: "";
   position: absolute;
   top: 50%;
   right: 25px;
   display: block;
   width: 14px;
   height: 14px;
   color: var(--light-grey);
   transform: translateY(-50%);
   pointer-events: none;

   svg {
      width: 100%;
      height: 100%;
      color: inherit;
      fill: currentcolor;
      object-fit: cover;
   }
}

.car-selection-select__options-list {
   background-color: var(--color-white);

   position: absolute;
   top: 62%;
   left: 0;
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: top;
   grid-column: 3 span;
   width: 100%;
   span {
      display: block;
      padding: 10px 0 11px 28px;
      font-size: inherit;
      color: var(--header-black);
      background-color: var(--color-white);
      cursor: pointer;

      &:hover {
         background-color: var(--color-red);
      }
   }
}

.car-selection-form__price {
   display: flex;
   grid-column: 3 span;
}

.car-selection-form__submit {
   display: flex;
   align-items: center;
   justify-content: center;
   grid-column: 3 span;
   border: none;
   border-radius: 4px;
   padding: 20px 0;
   color: inherit;
   background: var(--color-red);
}
