.car-brands__container {
   padding: 100px 0 100px 15px;
   font-weight: 500;
   font-size: 13px;
   color: var(--header-black);
   background-color: var(--color-white);
}

.car-brands__top-line {
   display: flex;
   align-items: center;
   justify-content: space-between;

   span {
      font-weight: 400;
      font-size: 16px;
      color: var(--menu-dark-grey);
   }
}

.car-brands__title {
   align-items: center;
   font-weight: 600;
   font-size: 32px;
}

.car-brands__list {
   margin-top: 40px;
}

.car-brands-list {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   align-items: center;
   justify-content: space-between;

   li {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border: 1px solid var(--light-grey);
      }
   border-radius: 4px;
   // padding: 10px 14px;
   background: #fff;

   a {
      width: 100px;
      height: 90px;
      margin: 10px 14px;

      h3 {
         text-align: center;
      }
      img {
      margin: 0 auto;
      }
   }
}
