.footer {
   padding: 40px 0 60px;
   color: var(--color-white);
   background-color: var(--menu-black);

   a {
      transition: color 0.2s ease;

      &:hover {
         color: var(--color-red);
      }
   }

   @media (max-width: 1258px) {
      padding: 0px 0;
   }

   @media (max-width: 834px) {
      padding: 40px 0 49.25px;
   }

   @media (max-width: 360px) {
      padding: 40px 0;
   }
}

.footer__logo {
   --width: 213px;
   --height: 40px;

   width: var(--width);
   height: var(--height);

   @media (max-width: 1258px) {
      --width: 220px;
      --height: 42px;
   }

   @media (max-width: 834px) {
      --width: 140px;
      --height: 28px;
   }
}

.footer__actions {
   display: flex;
   flex-wrap: wrap;
   column-gap: 30px;
   margin-top: 50px;
   @media (max-width: 1258px) {
      margin-top: 18px;
   }

   @media (max-width: 834px) {
      margin-top: 18px;

   }

   @media (max-width: 360px) {
      margin-top: 18px;

   }

   nav {
      flex: 0 1 161px;

      h3 {
         font-weight: 600;
         font-size: 16px;
      }

      ul {
         display: flex;
         flex-direction: column;
         row-gap: 9px;
         margin-top: 10px;
         font-weight: 400;
         font-size: 14px;
         color: rgba($color: #fff, $alpha: 80%);
      }
   }
}

.footer__contacts {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   grid-column: 4 span;
   margin-right: 33px;
}

.footer-contacts {
   flex: 0 0 313px;
   font-weight: 500;
   font-size: 24px;

   @media (max-width: 1258px) {
      font-size: 20px;
   }

   @media (max-width: 834px) {
      font-size: 16px;
   }
}

.footer-contacts__work-hours {
   font-weight: 400;
   font-size: 12px;

   @media (max-width: 1258px) {
      font-size: 10px;
   }
}

.footer-contacts__phone {
   margin-top: 5px;
}

.footer-contacts__call-back {
   margin-top: 10px;
   font-size: 12px;
   text-decoration: underline;
}

.footer-contacts__email {
   margin-top: 19px;
   @media (max-width: 1258px) {
      font-size: 14px;
   }

   @media (max-width: 834px) {
      font-size: 16px;
   }

   @media (max-width: 360px) {
      font-size: 16px;
   }
}

.footer-contacts__address {
   margin-top: 19px;
   @media (max-width: 1258px) {
      font-size: 14px;
   }

   @media (max-width: 834px) {
      font-size: 16px;
   }

   @media (max-width: 360px) {
      font-size: 16px;
   }
}

.footer__nav {
   display: flex;
   flex-direction: column;
   row-gap: 7px;
}

.footer__flex-line {
   display: flex;
   column-gap: 48px;
}

.footer__text-block {
   margin-top: 30px;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.25;
   color: var(--light-grey);

   p:first-child {
      margin-bottom: 10px;
   }

   @media (max-width: 1258px) {
      font-size: 12px;
   }
}
