.form-field {
   display: flex;
   row-gap: 20px;
   cursor: pointer;
}

.form-field__input {
   width: 100%;
   border-radius: 4px;
   padding: 20px 0 25px;
   font-weight: 500;
   font-size: 16px;
   line-height: normal;
   color: var(--light-grey);
   background: var(--color-white);
}

.form-field__input--offset {
   border: 1px solid var(--header-black);
   padding: 15.5px 10px;
}
