.logo {
   --width: 213px;
   --height: 40px;

   display: block;
   width: var(--width);
   height: var(--height);

   svg,
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
