.promo {
   padding: 78px 0 53px;
   color: var(--header-black);
   background-color: var(--color-white);
}

.swiper {
}

.swiper-wrapper {
}

.swiper-slide {
}

.promo-content {
   position: relative;
   z-index: 15;
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.15;
   color: var(--header-black);
}

.promo-content__img {
   --width: 875px;
   --height: 368px;

   width: var(--width);
   height: var(--height);

   img {
      position: absolute;
      bottom: 140px;
      left: 224px;
      z-index: 5;
      width: 100%;
      height: 100%;
      object-fit: none;
   }
}

.promo-content__info-block {
   display: flex;
   flex-direction: column;
   max-width: 445px;
}

.promo-content__title {
   z-index: 15;
   display: flex;
   flex-direction: column;
   row-gap: 10px;
   font-size: 28px;

   span {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 42px;
      text-transform: uppercase;
   }
}

.promo-content__price {
   margin-top: 5px;
   font-weight: 600;
   font-size: 28px;
   color: var(--color-red);
}

.promo-content__tags {
   z-index: 15;
   display: flex;
   flex-wrap: nowrap;
   column-gap: 1px;
   margin-top: 25px;
   font-weight: 400;
   color: var(--color-white);

   a:first-child {
      border-radius: 2.5px 0 0 2.5px;
   }

   a:last-child {
      border-radius: 0 2.5px 2.5px 0;
   }

   a {
      width: 120px;
      border: solid 1px color var(--color-white);
      padding: 10px 0 10px 8px;
      background-color: var(--menu-black);
   }

   span {
      font-weight: 500;
      color: var(--color-red);
   }
}

.promo-content__text-bottom {
   z-index: 15;
   margin-top: 11px;
   line-height: 1.15;
}

.swiper-pagination {
}
