.promo {
   padding: 78px 0 94px;
   color: var(--header-black);
   background-color: var(--color-white);

   @include max1258 {
      padding: 74px 0 106px;
   }

   @include max834 {
      padding: 20px 0 116px;
   }

   @include max428 {
      padding: 20px 0 111px;
   }
}

.swiper {
}

.swiper-wrapper {
}

.swiper-slide {
}

.promo-content {
   position: relative;
   z-index: 15;
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.15;
   color: var(--header-black);
}

.promo-content__img {
   --width: 875px;
   --height: 368px;

   position: absolute;
   top: -15%;
   right: -9.6%;
   z-index: 5;
   width: var(--width);
   height: var(--height);
   background-color: transparent;

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   @include max1258 {
      --width: 608px;
      --height: 256px;

      top: -6%;
      right: -7.2%;
   }

   @include max992 {
      --width: 577px;
      --height: 242px;

      top: -6%;
      right: -9.3%;
   }

   @include max834 {
      --width: 568px;
      --height: 240px;

      top: 111.1%;
      right: -13.5%;
   }

   @include max488 {
      --width: 420px;
      --height: 172px;

      top: 111.1%;
      left: 0;
   }

   @include max428 {
      --width: 360px;
      --height: 152px;

      top: 108.1%;
      left: -10%;
   }
}

.promo-content__info-block {
   display: flex;
   flex-direction: column;
   max-width: 445px;
}

.promo-content__title {
   z-index: 15;
   display: flex;
   flex-direction: column;
   row-gap: 10px;
   font-size: 28px;

   span {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 42px;
      text-transform: uppercase;

      @include max992 {
         font-size: 34px;
      }

      @include max834 {
         font-size: 32px;
      }

      @include max428 {
         font-size: 28px;
      }
   }

   @include max834 {
      row-gap: 9px;
   }

   @include max992 {
      font-size: 24px;
   }

   @include max834 {
      font-size: 22px;
   }
}

.promo-content__price {
   margin-top: 5px;
   font-weight: 700;
   font-size: 28px;
   color: var(--color-red);

   @include max834 {
      margin-top: 5.5px;
      font-size: 24px;
   }
}

.promo-content__tags {
   z-index: 15;
   display: flex;
   flex-wrap: nowrap;
   column-gap: 1px;
   margin-top: 25px;
   font-weight: 400;
   color: var(--color-white);

   a:first-child {
      border-radius: 2.5px 0 0 2.5px;

      @include max428 {
         width: 93px;
      }
   }

   a:last-child {
      border-radius: 0 2.5px 2.5px 0;

      @include max428 {
         width: 93px;
      }
   }

   a {
      width: 119px;
      border: solid 1px color var(--color-white);
      padding: 10px 0 10px 10px;
      background-color: var(--menu-black);

      @include max834 {
         padding-top: 11px;
      }

      @include max428 {
         padding: 10px 0 11px 10px;
         font-size: 11px;
      }
   }

   span {
      font-weight: 500;
      color: var(--color-red);

      @include max428 {
         font-size: 11px;
         line-height: 1;
      }
   }

   @include max428 {
      margin-top: 11px;
   }
}

.promo-content__text-bottom {
   z-index: 15;
   margin-top: 11px;
   line-height: 1.15;

   @include max428 {
      margin: 6px 12px 0 0;
   }
}

.swiper-pagination {
}
