.promo {
   padding: 48px 0 53px;
   color: var(--header-black);
   background-color: var(--color-white);

   @media (max-width: 1258px) {
      padding: 62px 0 50px;
   }

   @media (max-width: 834px) {
      padding: 20px 0 80px;
   }
}

.swiper--offsets {
   padding-bottom: 41px;

   @media (max-width: 1258px) {
      padding-bottom: 56px;
   }

   @media (max-width: 834px) {
      padding-bottom: 36px;
   }

   @media (max-width: 428px) {
      padding-bottom: 32px;
   }
}

.promo-content {
   position: relative;
   padding: 32px 0 120px;

   // z-index: 15;
   font-weight: 400;
   font-style: normal;
   font-size: 12px;
   line-height: 1.15;
   color: var(--header-black);

   @media (max-width: 1258px) {
      padding: 12px 0 28px;
   }

   @media (max-width: 834px) {
      padding: 0 0 262px;
   }

   @media (max-width: 428px) {
      padding: 0 0 235px;
   }
}

.promo-content__img {
   --width: 685px;
   --height: 368px;

   position: absolute;
   top: -0.6%;
   right: -1.1%;
   z-index: 5;
   width: var(--width);
   height: var(--height);
   background-color: transparent;

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   @media (max-width: 1258px) {
      --width: 608px;
      --height: 256px;

      top: 0;
      right: -7.2%;
   }

   @media (max-width: 992px) {
      --width: 577px;
      --height: 242px;

      top: 0;
      right: -9.3%;
   }

   @media (max-width: 834px) {
      --width: 100%;
      --height: 240px;

      top: 47.1%;
      right: 0;
   }

   @media (max-width: 488px) {
      --height: 172px;
   }

   @media (max-width: 428px) {
      --height: 152px;
   }
}

.promo-content__info-block {
   display: flex;
   flex-direction: column;
   max-width: 445px;
}

.promo-content__title {
   z-index: 15;
   display: flex;
   flex-direction: column;
   row-gap: 10px;
   font-size: 28px;

   span {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 42px;
      text-transform: uppercase;

      @media (max-width: 992px) {
         font-size: 34px;
      }

      @media (max-width: 834px) {
         font-size: 32px;
      }

      @media (max-width: 428px) {
         font-size: 28px;
      }
   }

   @media (max-width: 834px) {
      row-gap: 9px;
   }

   @media (max-width: 992px) {
      font-size: 24px;
   }

   @media (max-width: 834px) {
      font-size: 22px;
   }
}

.promo-content__price {
   margin-top: 5px;
   font-weight: 700;
   font-size: 28px;
   color: var(--color-red);

   @media (max-width: 834px) {
      margin-top: 5.5px;
      font-size: 24px;
   }
}

.promo-content__tags {
   z-index: 15;
   display: flex;
   flex-wrap: nowrap;
   column-gap: 1px;
   margin-top: 25px;
   font-weight: 400;
   color: var(--color-white);

   a:first-child {
      border-radius: 2.5px 0 0 2.5px;

      @media (max-width: 428px) {
         width: 93px;
      }
   }

   a:last-child {
      border-radius: 0 2.5px 2.5px 0;

      @media (max-width: 428px) {
         width: 93px;
      }
   }

   a {
      width: 119px;
      border: solid 1px color var(--color-white);
      padding: 10px 0 10px 10px;
      background-color: var(--menu-black);

      @media (max-width: 834px) {
         padding-top: 11px;
      }

      @media (max-width: 428px) {
         padding: 10px 0 11px 10px;
         font-size: 11px;
      }
   }

   span {
      font-weight: 500;
      color: var(--color-red);

      @media (max-width: 428px) {
         font-size: 11px;
         line-height: 1;
      }
   }

   @media (max-width: 428px) {
      margin-top: 11px;
   }
}

.promo-content__text-bottom {
   z-index: 15;
   margin-top: 11px;
   line-height: 1.15;

   @media (max-width: 428px) {
      margin: 6px 12px 0 0;
   }
}

.swiper-pagination {
   --swiper-pagination-bullet-size: 16px;
   --swiper-theme-color: var(--light-grey);
   --swiper-pagination-color: var(--light-grey);
   --swiper-pagination-bullet-horizontal-gap: 10px;
   --swiper-pagination-bullet-vertical-gap: 6px;
   --swiper-pagination-bottom: -2px;

   // --swiper-pagination-top: 1px;
}

.swiper-pagination-bullet-active {
   background-color: var(--header-black);
}
