.select {
   --select-bgc: #fff;
   --trigger-padding-top: 20.5px;
   --trigger-padding-right: 25px;
   --trigger-padding-bottom: 20.5px;
   --trigger-padding-left: 25px;
   --trigger-width: 100%;
   --trigger-text-color: var(--light-grey, #c7c7c7);
   --option-fz: 16px;
   --option-fw: 500;
   --option-color: var(--header-black, #212121);
   --option-hover-color: var(--color-white, #212121);
   --option-bgc: inherit;
   --option-hover-bgc: var(--color-red);
   --option-padding-top: 10px;
   --option-padding-right: 10px;
   --option-padding-bottom: 11px;
   --option-padding-left: 15px;

   position: relative;
   width: var(--trigger-width);
   height: auto;
   border-radius: 4px;
   background-color: var(--select-bgc);
}

.select__trigger {
   position: relative;
   z-index: 50;
   width: var(--trigger-width);
   border: 1px solid var(--header-black, #212121);
   border-radius: inherit;
   padding:
      var(--trigger-padding-top)
      var(--trigger-padding-right)
      var(--trigger-padding-bottom)
      var(--trigger-padding-left);
   background-color: inherit;
   cursor: pointer;

   &:focus-visible {
      outline-offset: -17px;
   }
}

.select__trigger-text {
   position: relative;
   display: block;
   padding-right: 7.5%;
   font-weight: 500;
   font-size: 16px;
   color: var(--trigger-text-color);
   transition: color 0.12s ease;
   pointer-events: none;

   &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 6px;
      height: 4px;
      background-image: url("@img/select-dropdown-arrow.svg");
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateY(-50%);
   }
}

.select__options-box {
   position: absolute;
   top: 85%;
   left: 0;
   z-index: -1;
   overflow: hidden;
   width: 100%;
   max-height: 0;
   border: 1px solid var(--header-black, #212121);
   border-top: 1px solid var(--menu-black);
   border-radius: 0 0 4px 4px;
   background-color: inherit;
   scrollbar-color: #424242 #c7c7c7;

   &::-webkit-scrollbar {
      width: 30px;
   }

   &::-webkit-scrollbar-track {
      border-left: 1px solid var(--menu-dark-grey, #424242);
      border-radius: 0 0 4px;
      background-color: #c7c7c7;
   }

   &::-webkit-scrollbar-thumb {
      box-sizing: content-box;
      border: 10px solid transparent;
      border-radius: 20px;
      background-clip: content-box;
      background-color: var(--menu-dark-grey, #424242);
   }
}

.select__option {
   padding:
      var(--option-padding-top)
      var(--option-padding-right)
      var(--option-padding-bottom)
      var(--option-padding-left);
   font-weight: var(--option-fw);
   font-size: var(--option-fz);
   color: var(--option-color, #212121);
   background-color: var(--option-bgc);
   transition: background-color 0.12s ease, color 0.12s ease;
   cursor: pointer;

   &:hover {
      color: var(--option-hover-color, #fff);
      background-color: var(--option-hover-bgc);
   }

   &.selected {
      color: var(--option-hover-color, #fff);
      background-color: var(--option-hover-bgc);
   }
}

.select.open {
   --trigger-text-color: var(--header-black, #212121);

   .select__trigger-text::after {
      background-image: url("@img/select-dropdown-arrow-open.svg");
   }

   .select__options-box {
      z-index: 100;
      overflow: auto;
      max-height: 320px;
   }
}

select.hidden {
   position: absolute;
   top: 0;
   left: -1000%;
   z-index: -1;
   opacity: 0;
}
