// ------------------ FONTS
@import "./base/fonts";

// ------------------ RESET
@import "./base/normalize";

// ------------------ GLOBAL
@import "./base/vars";
@import "./base/mixins";
@import "./base/global";

// ------------------ COMPONENTS
@import "./components/logo";
@import "./components/burger";
@import "./components/form-fields";
@import "./components/buttons";
@import "./components/select";

// ------------------ SECTIONS
@import "./components/header";
@import "./components/promo";
@import "./components/car-selection";
@import "./components/footer";
